<template lang="pug">
  .content-wrapper
    section
      .container
        h1.ui-title-1 Добавление курса
        .ui-card
          input(
            type="text"
            class="course-title"
            v-model="courseTitle"
            placeholder="Заголовок курса"
            @keyup.enter="newCource"
          )
          textarea(
            type="text"
            class="course-description"
            v-model="courseDescr"
            placeholder="Краткое описание"
            @keyup.enter="newCource"
          )

          .course-list
            .course-item(
              v-for="course in courses"
              :key="course.id"
            )
              .ui-card.ui-card-subcourse
                .course-item_content
                  .ui-item_header
                    span.ui-title-3 {{ course.title }}
                .course-item_body.subcourse-item_body
                  p.ui-text-regular {{ course.description }}

                .course-list
                  .course-item(
                    v-for="cour in course.courses"
                    :key="cour.id"
                  )
                    .ui-card.ui-card-subcourse
                      .course-item_content
                        .ui-item_header
                          span.ui-title-3 {{ cour.title }}
                      .course-item_body.subcourse-item_body
                        p.ui-text-regular {{ cour.description }}

                .course-body.course-body_add
                  .ui-course_wrapper(
                    @click="change(course.id)"
                  )
                    .ui-subcourse
                      span.course-title Добавить подпункт
                      span.button-close(
                        :class="{ active: !subCourseShow }"
                      )

          .course-body.course-body_add
            .ui-course_wrapper(
              @click="subCourseShow = !subCourseShow"
            )
              .ui-subcourse
                span.course-title Добавить пункт
                span.button-close(
                  :class="{ active: !subCourseShow }"
                )
          Modal(
            v-model="subCourseShow"
          )
            div(slot='header' class="course-add-title") Добавить главу
            .course-body.course-body_addfields
              input.course-add_input(
                type="text"
                class="course-title"
                placeholder = "Подзаголовок"
                v-model="subcourceTitle"
              )
              textarea(
                type="text"
                v-model="subcourseDescription"
                placeholder="Краткое описание"
              )
            div(slot='footer')
              button(type='primary', class='cource-add-button', size='large', @click="addSubcourse") Добавить
          Select(v-model='selectedusers', placeholder="Выберите" multiple='', style='width:260px')
            Option(v-for='item in users', :value='item.id', :key='item.id') {{ item.email }}
          .buttons-list.button-course_add
            button.button.button-primary(
              type="submit"
              @click="newCourse"
            )
              span(v-if="editCourse.id !== undefined") Изменить курс
              span(v-else) Добавить курс

</template>

<script>

import Modal from 'iview/src/components/modal/modal.vue'
import Select from 'iview/src/components/select/select.vue'
import Option from 'iview/src/components/select/option.vue'

export default {
  data () {
    return {
      courseTitle: '',
      courseDescr: '',
      subcourceTitle: '',
      subcourseDescription: '',
      changeId: 0,
      selectedusers: [],
      subCourseShow: false,
      courses: []
    }
  },
  computed: {
    users () {
      return this.$store.getters.users
    },
    editCourse () {
      return this.$store.getters.editCourse
    }
  },
  mounted: function () {
    console.log(this.editCourse)
    if (this.editCourse.id !== undefined) {
      this.courseTitle = this.editCourse.title
      this.courseDescr = this.editCourse.description
      this.selectedusers = this.editCourse.users
      this.courses = this.editCourse.subcurses
    }
  },
  components: {
    Modal: Modal,
    Select: Select,
    Option: Option
  },
  methods: {
    change (id) {
      this.subCourseShow = !this.subCourseShow
      this.changeId = id
      console.log(this.changeId)
    },
    addSubcourse () {
      this.subCourseShow = false
      const that = this
      if (that.changeId !== 0) {
        var result = this.courses.find(x => x.id === that.changeId)
      }

      if (this.subcourceTitle !== '') {
        const course = {
          title: this.subcourceTitle,
          description: this.subcourseDescription,
          id: Math.random(),
          courses: []
        }
        if (this.changeId !== 0) {
          result.courses.push(course)
        } else {
          that.courses.push(course)
        }
        this.changeId = 0
      }
      this.zeroFields()
      console.log(this.courses)
    },
    newCourse () {
      if (this.editCourse.id === undefined) {
        if (this.courseTitle === '') {
          return
        }
        const course = {
          id: Math.random(),
          title: this.courseTitle,
          description: this.courseDescr,
          subcurses: this.courses,
          users: this.selectedusers
        }
        this.$store.dispatch('newCourse', course)
          .then(() => {
            console.log(course)
            this.zeroAll()
            this.$router.push('/courses')
          })
          .catch(err => {
            alert(err.message)
          })
      } else {
        const course = {
          title: this.courseTitle,
          description: this.courseDescr,
          subcurses: this.courses,
          users: this.selectedusers,
          key: this.editCourse.key
        }
        this.$store.dispatch('editdbCourse', course)
          .then(() => {
            console.log(course)
            this.zeroAll()
            this.$store.dispatch('loadCources')
            this.$router.push('/courses')
          })
          .catch(err => {
            console.log(course)
            alert(err.message)
          })
      }
    },
    zeroAll () {
      this.courseTitle = ''
      this.courseDescr = ''
      this.subcourceTitle = ''
      this.subcourseDescription = ''
      this.changeId = 0
      this.selectedusers = []
      this.subCourseShow = false
      this.courses = []
    },
    zeroFields () {
      this.subcourceTitle = ''
      this.subcourseDescription = ''
      this.id = 0
    }
  }
}

</script>

<style lang="stylus" scoped>
.ui-subcourse
  .button-close
    width 10px
    height 10px
    &.active
      transform rotate(45deg)
  &.used
    background-color #444ce0
    color #fff
    .button-close
      &:before,
      &:after
        background-color #fff
.course-body
  margin-bottom 20px
.course-title,
.course-description
  margin-bottom 15px
textarea
  padding 10px
textarea
  height 12em
.ui-subcourse
  display inline
  background-color #ece9e9
  padding 8px
  border-radius 5px
  cursor pointer
.ui-subcourse:hover
  background-color #ccc
.button-close
  margin-left 5px
.cource-add-button
  padding 5px 20px
  border-radius 8px
  background-color #311dc7
.course-add-title
  font-size 19px
  display block
  margin-bottom 10px
  text-align center
.ui-course_wrapper
  display inline
.course-item
  margin-bottom 20px
  &:last-child
    margin-bottom 0

.ui-label
  margin-right 0px
.ui-item_header
  margin-bottom 17px
.course-list
  margin-bottom 20px
.subcourse-item_body
  margin-bottom 15px
.ui-card-subcourse
  padding-bottom 0px
.button-course_add
  margin-top 15px
  .button-primary
    border-radius 10px
</style>
