<template lang="pug">
  .layout.reset
    Layout(:style="{minHeight: '100vh'}")
      Sider(collapsible='', :collapsed-width='78', v-model='isCollapsed', :width='300')
        .title(
          @click="defaulttitle"
        )  {{ title }}
        Menu(
          theme='dark'
          width='auto'
          :class="menuitemClasses"
        )
          .sitem(
            v-for="cour in course.subcurses"
            :key="cour.id"
            @click="changesubcourse(cour)"
          )
            Submenu(
              :name="`${cour.id}`"
            )
              template(
                slot='title'
              )
                Icon(type='ios-navigate')
                span {{cour.title}}
              .mitem(
                v-for="scor in cour.courses"
                :key="scor.id"
                @click.stop="changesubcourse(scor)"
              )
                MenuItem(
                  :name="`${scor.id}`"
                )
                  span {{ scor.title }}
      Layout
        Content(:style="{padding: '0 16px 16px'}")
          div(style='height: 600px')
            h1.ui-title-1.course-title {{ texttitle }}
            p.course-description {{ textdescription }}
</template>

<script>
import Layout from 'iview/src/components/layout/layout.vue'
import Header from 'iview/src/components/layout/header.vue'
import Footer from 'iview/src/components/layout/footer.vue'
import Content from 'iview/src/components/layout/content.vue'
import Sider from 'iview/src/components/layout/sider.vue'
import Menu from 'iview/src/components/menu/menu.vue'
import MenuItem from 'iview/src/components/menu/menu-item.vue'
import Submenu from 'iview/src/components/menu/submenu.vue'
import Icon from 'iview/src/components/icon/icon.vue'

export default {
  data () {
    return {
      isCollapsed: false,
      title: '',
      description: '',
      texttitle: '',
      textdescription: ''
    }
  },
  computed: {
    course () {
      var course = this.$store.getters.currentCourse
      const that = this
      if (course.id === undefined) {
        that.$router.push('/courses')
      }
      return course
    },
    menuitemClasses: function () {
      return [
        'menu-item',
        this.isCollapsed ? 'collapsed-menu' : ''
      ]
    }
  },
  components: {
    Layout: Layout,
    Header: Header,
    Footer: Footer,
    Content: Content,
    Menu: Menu,
    MenuItem: MenuItem,
    Sider: Sider,
    Submenu: Submenu,
    Icon: Icon
  },
  mounted: function () {
    this.textdescription = this.course.description
    this.texttitle = this.course.title
    this.description = this.course.description
    this.title = this.course.title
  },
  methods: {
    changesubcourse (cour) {
      this.texttitle = cour.title
      this.textdescription = cour.description
    },
    defaulttitle () {
      this.texttitle = this.title
      this.textdescription = this.description
    }
  }
}
</script>

<style scoped>
.reset{
  width: 100%;
  left: 0;
  top: 81px;
  position: absolute;
}
.layout-con{
  height: 100%;
  width: 100%;
}
.menu-item span{
  display: inline-block;
  overflow: hidden;
  width: 69px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width .2s ease .2s;
}
.menu-item i{
  transform: translateX(0px);
  transition: font-size .2s ease, transform .2s ease;
  vertical-align: middle;
  font-size: 16px;
}
.collapsed-menu span{
  width: 0px;
  transition: width .2s ease;
}
.collapsed-menu i{
  transform: translateX(5px);
  transition: font-size .2s ease .2s, transform .2s ease .2s;
  vertical-align: middle;
  font-size: 22px;
}
.course-title{
  text-align: center;
}
.course-description{
  font-size: 17px;
  padding: 20px;
  text-align: justify;
}
.title{
  padding: 10px 20px;
  text-align: center;
  font-size: 17px;
  color: rgba(255,255,255,.7);
}
.menu-item span{
  overflow: inherit;
}
.ivu-layout-sider-collapsed .menu-item span{
  overflow: hidden;
}
</style>
