<template lang="pug">
  .content-wrapper
    section
      .container
        .buttons-list
          router-link(v-if="user!==null && user.isAdmin" to="/addcourse" class ="buttons-add-course")  Добавить курс
        .course-list
          .course-item(
            v-for="course in courses"
            :key="course.key"
            @click="selectCourse(course)"
          )
            .ui-card.ui-card--shadow
              .cource-item_info
              .course-item_content
                .ui-item_header
                  span.ui-title-3 {{ course.title }}
              .course-item_body
                p.ui-text-regular {{ course.description }}
              span.button-close(
                @click.stop="deleteCourse(course.key)"
              )
              Icon(type='ios-brush' class = 'icon' @click.stop="editCourse(course)")
        modal(v-model='showModal', @on-ok='ok', okText = 'Да', cancelText = "Нет")
          p Вы действительно хотите удалить курс?
        p(v-if="courses.length === 0" class="empty") Вам недоступен ни один курс

</template>

<script>
import Modal from 'iview/src/components/modal/modal.vue'
import Icon from 'iview/src/components/icon/icon.vue'
// import firebase from 'firebase/app'
// import Course from './course_help'
export default {
  data () {
    return {
      showModal: false,
      id: ''
    }
  },
  computed: {
    courses () {
      return this.$store.getters.courses
    },
    user () {
      const a = this.$store.getters.user
      console.log(a)
      return a
    }
  },
  components: {
    Modal: Modal,
    Icon: Icon
  },
  methods: {
    selectCourse (course) {
      this.$store.dispatch('currentCourse', course)
        .then(() => {
          console.log(course)
          this.$router.push('/courseInfo')
        })
        .catch(err => {
          alert(err.message)
        })
    },
    ok () {
      this.$store.dispatch('deleteCourse', this.id)
        .then(() => {
          console.log('deleted')
          this.$store.dispatch('loadCources')
        })
      this.id = ''
    },
    deleteCourse (id) {
      this.showModal = !this.showmodal
      this.id = id
    },
    editCourse (course) {
      // console.log(course)
      this.$store.dispatch('editCourse', course)
        .then(() => {
          this.$router.push('/addcourse')
        })
    }
  }
}
</script>

<style lang="stylus" scoped>
.course-item
  margin-top 20px
  margin-bottom 20px
  cursor pointer
  &:last-child
    margin-bottom 0
.ui-card
  position relative
.ui-label
  margin-right 0px
.ui-item_header
  margin-bottom 17px
.buttons-list
  margin-top 20px
.buttons-add-course
  background-color #302fdc
  padding 8px 40px
  font-size 20px
  color #fff
  border-radius: 8px
  &:hover
    background-color #504ff5
.button-close
  position absolute
  right 10px
  top 10px
.icon
  font-size: 24px;
  position: absolute;
  right: 50px;
  top: 11px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
.empty
  font-size: 22px;
  margin-top: 30px;
  text-align: center;
</style>
