<template lang="pug">
  .content-wrapper
    section
      .container
       h1.ui-title-1 Home

</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>

</style>
