<template lang="pug">
  .wrapper
    header
      .navbar
        .container
          .navbar-content
            router-link.header-logo(
              to="/courses"
             ) Дистанционный ресурс
            .button-burger(
              @click ="menuShow = !menuShow"
              :class="{ active: menuShow }"
            )
              span.line.line-1
              span.line.line-2
              span.line.line-3
            .navbar-list__wrapper(
              :class="{ active: menuShow }"
            )
              ul.navbar-list
                li.navbar-item(
                  v-for="link in linkMenu"
                  :key="link.title"
                  @click ="menuShow = false"
                )
                  router-link.navbar-link(
                    :to="`${link.url}`"
                  ) {{link.title}}
                li.navbar-item(
                  v-if="checkUser"
                  @click ="logout"
                )
                  span.navbar-link Выйти

    router-view
</template>

<script>
export default {
  data () {
    return {
      menuShow: false
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('logoutUser')
      this.$router.push('/login')
    }
  },
  computed: {
    checkUser () {
      return this.$store.getters.checkUser
    },
    linkMenu () {
      if (this.checkUser) {
        return [
          // {title: 'Главная', url: '/courses'},
          {title: 'Курсы', url: '/courses'}
        ]
      }
      return [
        {title: 'Курсы', url: '/courses'},
        {title: 'Логин', url: '/login'},
        {title: 'Регистрация', url: '/registration'}
      ]
    }
  }
}
</script>

<style lang="stylus">
@import './assets/stylus/base/animation.styl'
.navbar
  background-color #393c42
  border-bottom: 1px solid #bd0202;
.wrapper
  max-width inherit 
.navbar-content
  font-size 16px
.navbar-item
  padding 0
  margin-left 15px
  .navbar-link
    height: 80px;
    padding: 25px 25px;
    color: #e4e0e0;
    transform: skewX(-15deg);
    box-shadow: inset -16px 0px 53px -10px #3b3d42;
    background-color: #545556;
    &:hover
      box-shadow: inset -16px 0px 53px -10px #3b3d42;
      background-color: #6d6d6d;
.header-logo
  height: 80px;
  padding: 25px 25px;
  color: #e4e0e0;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -webkit-box-shadow: inset -16px 0px 53px -10px #3b3d42;
  box-shadow: inset -46px 0px 113px -10px #3b3d42;
  background-color: #545556;
  &:hover
      box-shadow: inset -16px 0px 53px -10px #3b3d42;
      background-color: #6d6d6d;
      color: #e4e0e0;
body
  background-color #ccc
</style>
