<template lang="pug">
  .content-wrapper
    section
      .container
        .auth
          .auth_form
            .ui-card
              span.ui-title-1 Войти
              form(@submit.prevent="onSubmit")
                .form-item(:class="{ errorInput: $v.email.$error }")
                  input(
                    type="email"
                    placeholder="Email"
                    v-model="email"
                    :class="{ error: $v.email.$error }"
                    @change="$v.email.$touch()"
                  )
                  .error(v-if="!$v.email.required") Field is required
                  .error(v-if="!$v.email.email") Email is not correct
                .form-item(:class="{ errorInput: $v.password.$error }")
                  input(
                    type="password"
                    placeholder="Пароль"
                    v-model="password"
                    :class="{ error: $v.password.$error }"
                    @change="$v.password.$touch()"
                  )
                  .error(v-if="!$v.password.required") Field is required.
                  .error(v-if="!$v.password.minLength") Field must have at least {{ $v.password.$params.minLength.min }} characters
                .buttons-list
                  button.button.button-primary(
                    type="submit"
                    :disabled="submitStatus === 'PENDING'"
                  ) Войти
                .buttons-list.buttons-list--info
                  p.typo__p(v-if="submitStatus === 'OK'") Thanks for your submission!
                  p.typo__p(v-if="submitStatus === 'ERROR'") Please fill the form correctly.
                  p.typo__p(v-else) {{ submitStatus }}

                .buttons-list.buttons-list--info
                  span Вы еще не зарегестрированы?
                  router-link(to="/registration")  Нажмите

</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      email: '',
      password: '',
      repeatPassword: '',
      submitStatus: null
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    }
  },
  methods: {
    onSubmit () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        const user = {
          email: this.email,
          password: this.password
        }
        this.$store.dispatch('loginUser', user)
          .then(() => {
            console.log('LOGIN!')
            this.submitStatus = 'OK'
            this.$router.push('/courses')
          })
          .catch(err => {
            this.submitStatus = err.message
          })
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.auth
  display flex
.auth_form
  width 50%
  margin 0 auto
  text-align center
.ui-card
  margin-top 50px
.form-item
  margin-bottom 10px
  .error
    display none
    margin-bottom 8px
    font-size 13.4px
    color #fc5c65
  &.errorInput
    .error
      display block
input
  &.error
    border-color #fc5c65
    animation shake .8s
.buttons-list
  text-align right
  margin-bottom 20px
  &.buttons-list--info
    text-align center
    &:last-child
      margin-bottom  0
a
  color #444ce0
</style>
