<template lang="pug">
  .content-wrapper
    section
      .container
        .auth
          .auth_form
            .ui-card
              span.ui-title-1 Регистрация
              form(@submit.prevent="onSubmit")
                .form-item(:class="{ errorInput: $v.email.$error }")
                  input(
                    type="email"
                    placeholder="Email"
                    v-model="email"
                    :class="{ error: $v.email.$error }"
                    @change="$v.email.$touch()"
                  )
                  .error(v-if="!$v.email.required") Field is required
                  .error(v-if="!$v.email.email") Email is not correct
                .form-item(:class="{ errorInput: $v.password.$error }")
                  input(
                    type="password"
                    placeholder="Пароль"
                    v-model="password"
                    :class="{ error: $v.password.$error }"
                    @change="$v.password.$touch()"
                  )
                  .error(v-if="!$v.password.required") Field is required.
                  .error(v-if="!$v.password.minLength") Field must have at least {{ $v.password.$params.minLength.min }} characters
                .form-item(:class="{ errorInput: $v.repeatPassword.$error }")
                  input(
                    type="password"
                    placeholder="Повторите пароль"
                    v-model="repeatPassword"
                    :class="{ error: $v.repeatPassword.$error }"
                    @change="$v.repeatPassword.$touch()"
                  )
                  .error(v-if="!$v.repeatPassword.sameAsPassword") Passwords must be identical.
                .form-item(class="checkb")
                  input(
                    id="exampleCheckbox"
                    class="checkbox"
                    type='checkbox'
                    v-model="isAdmin"
                  )
                  label.label--inline(for='exampleCheckbox') Админ
                .buttons-list
                  button.button.button-primary(
                    type="submit"
                  )
                    span(v-if="loading") Загрузка...
                    span(v-else) Зарегистрироваться

                .buttons-list.buttons-list--info
                  p.typo__p(v-if="submitStatus === 'OK'") Thanks for your submission!
                  p.typo__p(v-if="submitStatus === 'ERROR'") Please fill the form correctly.
                  p.typo__p(v-else) {{ submitStatus }}
                  // p.typo__p(v-if="submitStatus === 'PENDING'") Sending...

                .buttons-list.buttons-list--info
                  span Do you have accaunt?
                  router-link(to="/login")  Enter Here

</template>

<script>
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      email: '',
      password: '',
      repeatPassword: '',
      isAdmin: false,
      submitStatus: null
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    },
    repeatPassword: {
      sameAsPassword: sameAs('password')
    }
  },
  methods: {
    onSubmit () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        const user = {
          email: this.email,
          password: this.password,
          isAdmin: this.isAdmin
        }
        this.$store.dispatch('registerUser', user)
          .then(() => {
            console.log('Register!')
            this.submitStatus = 'OK'
            this.$router.push('/courses')
          })
          .catch(err => {
            this.submitStatus = err.message
          })
      }
    }
  },
  computed: {
    loading () {
      return this.$store.getters.loading
    }
  }
}
</script>

<style lang="stylus" scoped>
.auth
  display flex
.auth_form
  width 50%
  margin 0 auto
  text-align center

.form-item
  margin-bottom 10px
  .error
    display none
    margin-bottom 8px
    font-size 13.4px
    color #fc5c65
  &.errorInput
    .error
      display block
.ui-card
  margin-top 50px
input
  &.error
    border-color #fc5c65
.buttons-list
  text-align right
  margin-bottom 20px
  &.buttons-list--info
    text-align center
    &:last-child
      margin-bottom  0
a
  color #444ce0
.checkb
  text-align: left;
  margin-left: 15px;
.label--inline
  margin-left: 10px;
  font-size: 16px;
</style>
